# Content 
- preparing data for map

In [1]:
# import lybaries
import pandas as pd
import numpy as np
import os
import json

In [2]:
%matplotlib inline

In [3]:
# import data

path = r'/Users/lennartzeidler/Desktop/Uni/(6) Advances Analytics and Dashboard Design/liquid store sales analysis'
sales = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'liquid_sales_PriceAsINT_clean.pkl'))

In [4]:
sales.head()

,Invoice/Item Number,Date,Store Name,Address,City,Zip Code,Store Location,County,Category Name,Vendor Name,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
6,S28865700001,11/09/2015,Hy-Vee Food Store #3 / Waterloo,1422 FLAMMANG DR,WATERLOO,50702,"1422 FLAMMANG DR\nWATERLOO 50702\n(42.459938, ...",Black Hawk,DECANTERS & SPECIALTY PACKAGES,Duggan's Distillers Products Corp,Forbidden Secret Coffee Pack,6,1500,11.62,17.43,6,104.58,9.0,2.38
8,S29339300091,11/30/2015,Hy-Vee Wine & Spirits / Muscatine,"522 MULBERRY, SUITE A",MUSCATINE,52761,"522 MULBERRY, SUITE A\nMUSCATINE 52761\n",Muscatine,DECANTERS & SPECIALTY PACKAGES,Jim Beam Brands,Laphroaig w/ Whiskey Stones,12,750,19.58,29.37,4,117.48,3.0,0.79
13,S28866900001,11/11/2015,"Spirits, Stogies and Stuff",118 South Main St.,HOLSTEIN,51025,118 South Main St.\nHOLSTEIN 51025\n(42.490073...,Ida,DECANTERS & SPECIALTY PACKAGES,Duggan's Distillers Products Corp,Forbidden Secret Coffee Pack,6,1500,11.62,17.43,1,17.43,1.5,0.40
18,S29134300126,11/18/2015,J D Spirits Liquor,1023 9TH ST,ONAWA,51040,"1023 9TH ST\nONAWA 51040\n(42.025841, -96.095845)",Monona,CREAM LIQUEURS,MHW Ltd,"Rumchata ""GoChatas""",1,6000,99.00,148.50,1,148.50,6.0,1.59
21,S29282800048,11/23/2015,Hy-Vee Wine and Spirits / Pella,512 E OSKALOOSA,PELLA,50219,"512 E OSKALOOSA\nPELLA 50219\n(41.397023, -92....",Marion,DECANTERS & SPECIALTY PACKAGES,Duggan's Distillers Products Corp,Forbidden Secret Coffee Pack,6,1500,11.62,17.43,6,104.58,9.0,2.38

In [5]:
sales = sales.rename(columns={'County': 'Country'})

In [6]:
sales.shape

(12495974, 19)

In [7]:
sales['Zip Code'].value_counts()

52402      280176
50010      277871
52240      275974
50613      201106
50317      199080
            ...
50162.0        20
50251.0        16
50540.0        13
51230          10
50447.0         7
Name: Zip Code, Length: 880, dtype: int64

We need to do some data cleaning here. We need to delete everything after the '.'.

In [8]:
# cutting zip Code up after 5. char
sales["Zip Code"] = sales["Zip Code"].str[:5]

In [9]:
sales['Zip Code'].value_counts()

50010    309866
52402    304906
52240    298110
50613    224929
50317    218570
          ...
52158        74
50447        70
51235        65
52659        56
51230        10
Name: Zip Code, Length: 450, dtype: int64

In [10]:
# Import ".json" file for the whole world 

country_geo = r'/Users/lennartzeidler/Desktop/Uni/(6) Advances Analytics and Dashboard Design/liquid store sales analysis/02 Data/map-json/iowa_zip_geo.json'

In [11]:
# taking a look at the file
f = open('/Users/lennartzeidler/Desktop/Uni/(6) Advances Analytics and Dashboard Design/liquid store sales analysis/02 Data/map-json/iowa_zip_geo.json')
data = json.load(f)
zips = []
for i in data['features']:
    zips.append(i['properties']['ZCTA5CE10'])

In [12]:
data_zips = list( dict.fromkeys(sales['Zip Code'].to_list()))

In [13]:
for i in data_zips: 
    if i not in zips:
        print(i)

50300
712-2
52084
52733
52004
50015
52303
52087
52036
56201

In [14]:
# creating subset containing only Items with zipcode present in our List
test = sales[sales['Zip Code'].isin(zips)]

In [15]:
test.shape

(12410125, 19)

In [16]:
# creating array containing zip codes from df
newZip = list( dict.fromkeys(test['Zip Code'].to_list()))

In [17]:
# check if any Zip Codes are not in our json
for i in newZip: 
    if i not in zips:
        print(i)

All right data cleaning done and we are ready to create the map in another script

In [18]:
sales.head()

,Invoice/Item Number,Date,Store Name,Address,City,Zip Code,Store Location,Country,Category Name,Vendor Name,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
6,S28865700001,11/09/2015,Hy-Vee Food Store #3 / Waterloo,1422 FLAMMANG DR,WATERLOO,50702,"1422 FLAMMANG DR\nWATERLOO 50702\n(42.459938, ...",Black Hawk,DECANTERS & SPECIALTY PACKAGES,Duggan's Distillers Products Corp,Forbidden Secret Coffee Pack,6,1500,11.62,17.43,6,104.58,9.0,2.38
8,S29339300091,11/30/2015,Hy-Vee Wine & Spirits / Muscatine,"522 MULBERRY, SUITE A",MUSCATINE,52761,"522 MULBERRY, SUITE A\nMUSCATINE 52761\n",Muscatine,DECANTERS & SPECIALTY PACKAGES,Jim Beam Brands,Laphroaig w/ Whiskey Stones,12,750,19.58,29.37,4,117.48,3.0,0.79
13,S28866900001,11/11/2015,"Spirits, Stogies and Stuff",118 South Main St.,HOLSTEIN,51025,118 South Main St.\nHOLSTEIN 51025\n(42.490073...,Ida,DECANTERS & SPECIALTY PACKAGES,Duggan's Distillers Products Corp,Forbidden Secret Coffee Pack,6,1500,11.62,17.43,1,17.43,1.5,0.40
18,S29134300126,11/18/2015,J D Spirits Liquor,1023 9TH ST,ONAWA,51040,"1023 9TH ST\nONAWA 51040\n(42.025841, -96.095845)",Monona,CREAM LIQUEURS,MHW Ltd,"Rumchata ""GoChatas""",1,6000,99.00,148.50,1,148.50,6.0,1.59
21,S29282800048,11/23/2015,Hy-Vee Wine and Spirits / Pella,512 E OSKALOOSA,PELLA,50219,"512 E OSKALOOSA\nPELLA 50219\n(41.397023, -92....",Marion,DECANTERS & SPECIALTY PACKAGES,Duggan's Distillers Products Corp,Forbidden Secret Coffee Pack,6,1500,11.62,17.43,6,104.58,9.0,2.38

In [19]:
tab_data = sales[['Zip Code', 'Sale (Dollars)']]

In [20]:
tab_data = tab_data[tab_data['Sale (Dollars)'] > 500]

SyntaxError: invalid syntax (3133375982.py, line 1)