# Content
Data cleaning: 
- mixed data
- duplicates
- null values

In [1]:
# import lybaries 
import pandas as pd
import numpy as np
import os

In [2]:
# import data
path = r'/Users/lennartzeidler/Desktop/Uni/(6) Advances Analytics and Dashboard Design/liquid store sales analysis'
df_liquid_sales = pd.read_csv(os.path.join(path, '02 Data','Original Data', 'Iowa_Liquor_Sales.csv'))

/var/folders/zw/37lckzg54ll7byfmgjl5pkw40000gn/T/ipykernel_70763/1053455517.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_liquid_sales = pd.read_csv(os.path.join(path, '02 Data','Original Data', 'Iowa_Liquor_Sales.csv'))

In [11]:
df_liquid_sales.shape

(12591077, 24)

In [3]:
df_liquid_sales.head()

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,...,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,S29198800001,11/20/2015,2191,Keokuk Spirits,1013 MAIN,KEOKUK,52632,"1013 MAIN\nKEOKUK 52632\n(40.39978, -91.387531)",56.0,Lee,...,297,Templeton Rye w/Flask,6,750,$18.09,$27.14,6,$162.84,4.50,1.19
1,S29195400002,11/21/2015,2205,Ding's Honk And Holler,900 E WASHINGTON,CLARINDA,51632,"900 E WASHINGTON\nCLARINDA 51632\n(40.739238, ...",73.0,Page,...,297,Templeton Rye w/Flask,6,750,$18.09,$27.14,12,$325.68,9.00,2.38
2,S29050300001,11/16/2015,3549,Quicker Liquor Store,1414 48TH ST,FORT MADISON,52627,"1414 48TH ST\nFORT MADISON 52627\n(40.624226, ...",56.0,Lee,...,249,Disaronno Amaretto Cavalli Mignon 3-50ml Pack,20,150,$6.40,$9.60,2,$19.20,0.30,0.08
3,S28867700001,11/04/2015,2513,Hy-Vee Food Store #2 / Iowa City,812 S 1ST AVE,IOWA CITY,52240,812 S 1ST AVE\nIOWA CITY 52240\n,52.0,Johnson,...,237,Knob Creek w/ Crystal Decanter,3,1750,$35.55,$53.34,3,$160.02,5.25,1.39
4,S29050800001,11/17/2015,3942,Twin Town Liquor,104 HIGHWAY 30 WEST,TOLEDO,52342,"104 HIGHWAY 30 WEST\nTOLEDO 52342\n(41.985887,...",86.0,Tama,...,249,Disaronno Amaretto Cavalli Mignon 3-50ml Pack,20,150,$6.40,$9.60,2,$19.20,0.30,0.08

In [8]:
df_liquid_sales.columns

Index(['Invoice/Item Number', 'Date', 'Store Number', 'Store Name', 'Address',
       'City', 'Zip Code', 'Store Location', 'County Number', 'County',
       'Category', 'Category Name', 'Vendor Number', 'Vendor Name',
       'Item Number', 'Item Description', 'Pack', 'Bottle Volume (ml)',
       'State Bottle Cost', 'State Bottle Retail', 'Bottles Sold',
       'Sale (Dollars)', 'Volume Sold (Liters)', 'Volume Sold (Gallons)'],
      dtype='object')

In [4]:
# check for mixed types
for col in df_liquid_sales.columns.tolist():
  weird = (df_liquid_sales[[col]].applymap(type) != df_liquid_sales[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_liquid_sales[weird]) > 0:
    print (col, len (df_liquid_sales[weird]))

Address 2376
City 2375
Zip Code 2499302
Store Location 2375
County 79178
Category Name 12574991
Vendor Name 1
State Bottle Cost 10
State Bottle Retail 10
Sale (Dollars) 10

In [6]:
# finding duplicates

df_dups = df_liquid_sales[df_liquid_sales.duplicated()]
df_dups

Empty DataFrame
Columns: [Invoice/Item Number, Date, Store Number, Store Name, Address, City, Zip Code, Store Location, County Number, County, Category, Category Name, Vendor Number, Vendor Name, Item Number, Item Description, Pack, Bottle Volume (ml), State Bottle Cost, State Bottle Retail, Bottles Sold, Sale (Dollars), Volume Sold (Liters), Volume Sold (Gallons)]
Index: []

[0 rows x 24 columns]

In [9]:
# finding null values
df_liquid_sales.isnull().sum()

Invoice/Item Number          0
Date                         0
Store Number                 0
Store Name                   0
Address                   2376
City                      2375
Zip Code                  2420
Store Location            2375
County Number            79178
County                   79178
Category                  8020
Category Name            16086
Vendor Number                3
Vendor Name                  1
Item Number                  0
Item Description             0
Pack                         0
Bottle Volume (ml)           0
State Bottle Cost           10
State Bottle Retail         10
Bottles Sold                 0
Sale (Dollars)              10
Volume Sold (Liters)         0
Volume Sold (Gallons)        0
dtype: int64

I decided to delete all rows with null values, since I lose less than 1 percent of the data through doing so. That will make the analysis way easyier.

In [15]:
# droping all null values in df
df_liquid_sales_clean = df_liquid_sales.dropna()

In [35]:
df_liquid_sales_clean.shape

(12495974, 24)

In [17]:
# check again fo null values
df_liquid_sales_clean.isnull().sum()

Invoice/Item Number      0
Date                     0
Store Number             0
Store Name               0
Address                  0
City                     0
Zip Code                 0
Store Location           0
County Number            0
County                   0
Category                 0
Category Name            0
Vendor Number            0
Vendor Name              0
Item Number              0
Item Description         0
Pack                     0
Bottle Volume (ml)       0
State Bottle Cost        0
State Bottle Retail      0
Bottles Sold             0
Sale (Dollars)           0
Volume Sold (Liters)     0
Volume Sold (Gallons)    0
dtype: int64

In [ ]:
# change data type to string
df_liquid_sales_clean = df_liquid_sales_clean.astype({'Zip Code': 'str'})

In [34]:
# check for mixed types
for col in df_liquid_sales_clean.columns.tolist():
  weird = (df_liquid_sales_clean[[col]].applymap(type) != df_liquid_sales_clean[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_liquid_sales_clean[weird]) > 0:
    print (col, len (df_liquid_sales_clean[weird]))

In [42]:
# droping unnecessary columns
df_liquid_sales_clean_dropedCOL = df_liquid_sales_clean.drop(columns=['Store Number', 'County Number', 'County Number', 'Item Number', 'Vendor Number', 'Category'])

In [43]:
df_liquid_sales_clean_dropedCOL.columns

Index(['Invoice/Item Number', 'Date', 'Store Name', 'Address', 'City',
       'Zip Code', 'Store Location', 'County', 'Category Name', 'Vendor Name',
       'Item Description', 'Pack', 'Bottle Volume (ml)', 'State Bottle Cost',
       'State Bottle Retail', 'Bottles Sold', 'Sale (Dollars)',
       'Volume Sold (Liters)', 'Volume Sold (Gallons)'],
      dtype='object')

In [44]:
df_liquid_sales_clean.columns

Index(['Invoice/Item Number', 'Date', 'Store Number', 'Store Name', 'Address',
       'City', 'Zip Code', 'Store Location', 'County Number', 'County',
       'Category', 'Category Name', 'Vendor Number', 'Vendor Name',
       'Item Number', 'Item Description', 'Pack', 'Bottle Volume (ml)',
       'State Bottle Cost', 'State Bottle Retail', 'Bottles Sold',
       'Sale (Dollars)', 'Volume Sold (Liters)', 'Volume Sold (Gallons)'],
      dtype='object')

Data cleaning is done for now, untill I have deeper insights to the data.

In [46]:
# export cleaned dataset and cleaned dataset with all columns in case I need them(both as pkl)
df_liquid_sales_clean.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'df_liquid_sales_clean_all_columns.pkl'))
df_liquid_sales_clean_dropedCOL.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'df_liquid_sales_clean.pkl'))